<div class="nav-items">

    <div class="profile">
        <img src="https://im.indiatimes.in/content/2023/Jul/happy-doctors-day1_649fbbb6a882d.jpg?w=820&h=540&cc=1" alt="no image">
        <h3>Sarah Smith</h3>
        <h4>Admin</h4> 
     </div>
    <div class="nav-item">
      <mat-icon>space_dashboard</mat-icon>
      <a routerLink=""><span>Dashboard</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>assignment</mat-icon>
      <a routerLink="gauges"><span>Appointments</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>medication</mat-icon>
      <a routerLink="table"><span>Doctors</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>group</mat-icon>
      <a routerLink="contacts"><span>Staff</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>face</mat-icon>
      <a routerLink="area-chart"><span>Patients</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>bedroom_child</mat-icon>
      <a routerLink=""><span>Room</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>monetization_on</mat-icon>
      <a routerLink=""><span>Payments</span></a>
    </div>
    <div class="nav-item">
      <mat-icon>contacts</mat-icon>
      <a routerLink=""><span>Contact</span></a>
    </div>
  </div>
