<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <mat-icon>personal_injury</mat-icon> 
      </div>
      <div class="value">
        <div class="top">Today Patients</div>
        <div class="bottom">18% Higher Then Last Month</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <mat-icon>event_available</mat-icon>  
      </div>
      <div class="value">
        <div class="top">Appointments</div>
        <div class="bottom">21% Higher Then Last Month</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <mat-icon>content_cut</mat-icon> 
      </div>
      <div class="value">
        <div class="top">Todays Operations</div>
        <div class="bottom">37% Higher Then Last Month</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <mat-icon>how_to_reg</mat-icon>
      </div>
      <div class="value">
        <div class="top">Online Appointment</div>
        <div class="bottom">10% Higher Then Last Month</div>
      </div>
    </div>
  </div>
